body{
  background:#0b0f16;
  color:white;
  font-family:Inter,Arial,sans-serif;
  padding:30px;
}

.container{
  max-width:1200px;
  margin:auto;
}

h1{
  margin-bottom:30px;
}

#amigos{
  display:grid;
  grid-template-columns:
    repeat(auto-fill,minmax(300px,1fr));
  gap:20px;
}

.amigo{
  background:#1b2838;
  border-radius:20px;
  padding:20px;
  display:flex;
  gap:15px;
  align-items:center;
}

.amigo img{
  width:80px;
  height:80px;
  border-radius:50%;
}

.nome{
  font-size:20px;
  font-weight:bold;
}

.status{
  color:#8fa3b8;
}
